@import "./config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include background;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/3593921.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

//Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: set-text-color($secondary-color);
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

@import "./about";
@import "./contact";
@import "./landing";
@import "./menu";
@import "./projects";
@import "./footer";
@import "./mobile";

// //BEM css format
// //Block component
// .btn {
// }
// //Element that depends upon the block
// .btn__price {
// }
// //Modifier that changes the style of the block
// .btn--orange {
// }
// .btn--big {
// }

// /*
// The format for above css
// <a className="btn btn--big btn--orange" href="https://css-trick.com>
// 	<span className="btn__price">$9.99</span>
// 	<span className="btn__text">Subscribe</span>
// </a>

// */
